* {
    background-color: #f3f8fa;
}

QListWidget::item {
    height: 40px;
    margin-left: 10px;
    background-color: transparent;
}

QListWidget::item:hover {
    background-color: #f1f4f7;
}

QListWidget::item:selected {
    border: none;
    border-left: 3px solid #0067c0;
}