#PageHistory,
QListWidget {
    background-color: #f3f8fa;
}

QListWidget::item {
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    font-size: 16pt;
    font-weight: bold;
    background-color: #FFF;
}