/*主页面*/

.QWidget {
  background-color: #edf5f9;
  border: none;
}

#btn_popMune {
  background: transparent;
  border: none;
}

#page_sub1 {
  background-color: #edf5f9;
}

#swdg_main {
  margin-top: 10px;
}