#popKb {
    background-color: #FFF;
    padding: 10px;
    border: 1px solid #DCDCDC;
}

QPushButton {
    margin: 3px;
    font-size: 16pt;
    text-align: center;
    font-weight: bolder;
    background-color: #faf8fa;
    border: 1px solid #DCDCDC;
}