/*主页面*/
/* title */
#lbl_wtitle {
  font-size: 8pt;
}
#win_title>QPushButton {
    margin:0px 8px;
}

/*主界面*/
#MainWin {
  background-color: #eef4f9;
}

#btn_popMune {
  background: transparent;
  border: none;
}

#swdg_main {
  margin-top: 10px;
}


.QWidget {
  background-color: #f3f3f3;
}

#frame {
  background-color: #f3f3f3;
  border: none;
  border-radius: 8px;
}